:root {
    --grey: rgb(59, 59, 59);
    --grey-3d: rgb(43, 43, 43);
    --grey-active: #737373;
    --grey-soft: #a5a5a5;
    --grey-soft-3d: #808080;
    --grey-soft-active: #d9d9d9;
    --orange: #ff9f0a;
    --orange-3d: #b97308;
    --orange-active: #fbc78d;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: black;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.calc-container {
    border: 4px solid var(--grey);
    z-index: 0;
    border-radius: 20px;
    padding: 20px;
    width: 410px;
    height: 620px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "a a a a" 
    "b c d e"
    "f g h i"
    "j k l m"
    "n o p q"
    "r r s t";
    grid-auto-flow: row;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

button {
    position: relative;
    font-size: 28px;
    font-weight: 700;
    background-color: var(--grey);
    cursor: pointer;
    border-radius: 50%;
    color: white;
    border: 1px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}


.resultado-container {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: a;
    background-color: transparent;
    color: white;
    text-align: end;
}
.resultadoActual {
    max-width: 100%;
    margin-right: 16px;
    font-size: 40px;
}
.resultadoAnterior {
    margin-right: 16px;
    font-size: 30px;
    filter: brightness(0.9);
}

.clear {
    grid-area: b;
    background-color: var(--grey-soft);
}
.neg {
    grid-area: c;
    background-color: var(--grey-soft);
}
.porcentaje {
    grid-area: d;
    background-color: var(--grey-soft);
}
.dividir {
    grid-area: e;
    background-color: var(--orange);
}
.siete {
    grid-area: f;
}
.ocho {
    grid-area: g;
}
.nueve {
    grid-area: h;
}
.multiplicar {
    grid-area: i;
    background-color: var(--orange);
}
.cuatro {
    grid-area: j;
}
.cinco {
    grid-area: k;
}
.seis {
    grid-area: l;
}
.restar {
    grid-area: m;
    background-color: var(--orange);
}
.uno {
    grid-area: n;
}
.dos {
    grid-area: o;
}
.tres {
    grid-area: p;
}
.sumar {
    grid-area: q;
    background-color: var(--orange);
}
.cero {
    grid-area: r;
    border-radius: 44px;
}
.coma {
    grid-area: s;
}
.igual {
    grid-area: t;
    background-color: var(--orange);
}
.greysoft {
    color: black
}
.operador:not(.porcentaje),
.coma,
.igual {
    font-size: 30px;
}

.operador {
    transition: all 0.5s;
}
.operadorPresionado {
    background-color: white;
    color: var(--orange);
    transition: all 0.3s;
}
.porcentajePresionado {
    background-color: var(--grey-soft-active);
    transition: all 0.3s;
}
.btnGreyPresionado {
    animation: btnGreyPresionado;
    animation-duration: 0.2s;
}
.btnSoftGreyPresionado {
    animation: btnSoftGreyPresionado;
    animation-duration: 0.2s;
}
.btnOrangePresionado {
    animation: btnOrangePresionado;
    animation-duration: 0.2s;
}


@keyframes btnGreyPresionado {
    0% {
        background-color: var(--grey);
    }
    50% {
        background-color: var(--grey-active);
    }
    100% {
        background-color: var(--grey);
    }
}
@keyframes btnSoftGreyPresionado {
    0% {
        background-color: var(--grey-soft);
    }
    50% {
        background-color: var(--grey-soft-active);
    }
    100% {
        background-color: var(--grey-soft);
    }
}
@keyframes btnOrangePresionado {
    0% {
        background-color: var(--orange);
    }
    50% {
        background-color: var(--orange-active);
    }
    100% {
        background-color: var(--orange);
    }
}


@media screen and (max-width: 428px) {
    .calc-container {
        width: 97vw;
        height: 85vh;
    }
}
